@CHARSET "UTF-8";
/* COMMON */
@font-face {
    font-family: 'LobsterRegular';
    src: url('../fonts/lobster.eot');
    src: url('../fonts/lobster.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster.woff') format('woff'),
         url('../fonts/lobster.ttf') format('truetype'),
         url('../fonts/lobster.svgz#LobsterRegular') format('svg'),
         url('../fonts/lobster.svg#LobsterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background: #FFFFFF url(../img/bg_body.jpg) 0 0 repeat scroll;
	min-height: 750px;
	font-family: "Calibri", Arial, Hevletica;
	color: #404040;
	font-size: 14px;
}
header, nav, section, article, aside, footer {
	display: block;
}
input, select, textarea{
	font-family: "Calibri", Arial, Hevletica;
}
#wrapper0{
	position: relative;
}
.container{
	position: relative;
}
.line30{
	height: 30px;
}
.line40{
	height: 40px;
}
.detailed{
	right: 0;
}
header{
	position: relative;
	height: 154px;
	background: transparent url(../img/bg_header.png) 0 0 repeat scroll;
}
.hd-left, .hd-right{
	width: 50%;
	height: 154px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
.hd-left{
	left: 0;
}
.hd-left nav{
	margin-right: 133px;
}
.hd-right{
	left: 50%;
}
.hd-search{
	position: absolute;
	left: 299px;
	top: 116px;
	width: 182px;
	height: 26px;
}
/*COMMON SEARCH*/
.search-left{
	background: transparent url(../img/sprite.png) 0px -189px repeat-x scroll;
	height: 26px;
	float: left;
}
.search-right{
	height: 26px;
	float: left;
	width: 27px;
	background: transparent url(../img/sprite.png) -370px -189px repeat-x scroll;
}
.search input{
	border: 0 none;
	background-color: transparent;
	margin: 1px;
	width: 137px;
	height: 20px;
	float: left;
	padding: 2px 0 0px 11px;
	font-size: 12px;
}
.search .sr-submit{
	margin: 2px 0 0 5px;
	width: 22px;
	padding: 0;
	cursor: pointer;
	background: transparent url(../img/logo.png) 0 0 no-repeat scroll; /*blank*/
}
/*TOP NAV*/
.hd-right nav{
	margin-left: 133px;
}
header nav{
	position: relative;
	margin-top: 61px;
}
header ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
}
.hd-right ul{
	left: 0;
}
.hd-left ul{
	right: 0;
}
header li{
	height: 36px;
	padding: 0 0 0 10px;
	position: relative;
	float: left;
}
header nav li.active{
	background: transparent url(../img/sprite.png) 0 0 no-repeat scroll;
}
header nav a{
	font-family: "LobsterRegular";
	font-size: 16px;
	text-decoration: none;
	padding: 0 10px 0 0;
	height: 32px;
	display: block;
}
header nav li.active a:hover{
	text-decoration: none;
}
header li.active a{
	background: transparent url(../img/sprite.png) 100% 0% no-repeat scroll;
}
header nav a:hover{
	text-decoration: underline;
}
header ul ul{
	display: none;
}
header ul li.active ul{
	display: block;
	display: -webkit-box;
	position: absolute;
	top: 36px;
	right: 0;
	height: 40px;
	background: transparent url(../img/sprite.png) 100% -36px no-repeat scroll;
	left: auto;
    width: intrinsic; /* Safari, Chrome */
  	width: -moz-max-content;
}
header li li{
	padding-top: 14px;
	height: 25px;
}
header li.active li a, header li.active li a:hover, header li.active li a:focus{
	background: transparent none;
	font-size: 14px;
	height: 25px;
	display: block;
}
header ul li.active ul li a:hover{
	text-decoration: underline;
}
header li li:first-child{
	background: transparent url(../img/sprite.png) -501px -36px no-repeat scroll;
}
.hd-bottom{
	height: 16px;
	width: 100%;
	background: transparent url(../img/bg_header_bottom.png) 0 0 repeat scroll;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.hd-line{
	height: 71px;
	width: 100%;
	top: 39px;
	left: 0;
	position: absolute;
	background: transparent url(../img/bg_header_line.png) 0 0 repeat scroll;
}
header .logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -141px;
	background: transparent url(../img/logo.png) 0 0 no-repeat scroll;
	width: 282px;
	height: 154px;
}
header .logo a{
	display: block;
	margin: 27px 0 0 27px;
	width: 225px;
	height: 90px;
}
article{
	position: relative;
	min-height: 250px;
}
.two-cols article{
	float: right;
	width: 695px;
	margin-right: -1px;
	padding: 30px 0 0 15px;
}
.article-wrapper{
	background: transparent url(../img/bg_article.png) 0 0 repeat scroll;
}
/*ARTICLE PATTERNS*/
.v-pattern{
	background: transparent url(../img/sprite_v_patterns.png) 0 0 repeat-y scroll;
	width: 10px;
	position: absolute;
	top: 0;
	height: 100%;
}
.right-shadow, .left-shadow{
	height: 100%;
	width: 2px;
	top: 1px;
	position: absolute;
	background-image: url(../img/sprite_v_patterns.png);
	background-color: transparent;
	background-repeat: repeat-y;
}
.right-shadow{
	right: -2px;
	background-position: -12px 0px;
}
.two-cols article .right-shadow{
	right: -1px;
}
.left-shadow{
	left: -2px;
	background-position: -14px 0px;
}
.v-cubic-pattern{
	background-position: 0 0;
}
.pattern-shadow{
	right: 0px;
}
.nested-group-3{
	height: 696px;
}
.nested-group-4{
	height: 920px;
}
.nested-group-5{
	height: 1160px;
}
.nested-box{
	height: 232px;
	z-index: 20;
	background-image: url(../img/sprite_shadows.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 2px;
	position: absolute;
}
.nested-1{
	width: 954px;
	left: -2px;
	top: 0px;
	z-index: 50;
}
.nested-2{
	width: 942px;
	z-index: 40;
	left: 4px;
	top: 228px;
	background-position: -6px 2px;
}
.nested-3{
	width: 932px;
	z-index: 30;
	left: 9px;
	top: 456px;
	background-position: -11px 2px;
}
.nested-4{
	width: 922px;
	z-index: 20;
	left: 14px;
	top: 684px;
	background-position: -16px 2px;
}
.nested-5{
	width: 912px;
	z-index: 10;
	left: 19px;
	top: 912px;
	background-position: -21px 2px;
}
.nested-box .inner{
	background: transparent url(../img/bg_block.png) 50% 100% no-repeat scroll;
	margin-left: 1px;
	height: 180px;
	padding: 25px 20px;
	overflow: hidden;
}
.nested-1 .inner{
	width: 910px;
	margin-left: 2px;
}
.nested-2 .inner{
	width: 900px;
}
.nested-3 .inner{
	width: 890px;
}
.nested-4 .inner{
	width: 880px;
}
.nested-5 .inner{
	width: 870px;
}
.nested-box .bottom{
	position: absolute;
	bottom: 2px;
	left: 1px;
	height: 14px;
	background-image: url(../img/sprite_nested_samples.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}
.nested-1 .bottom{
	background-position: 2px 0px;
	width: 950px;
	left: 2px;
}
.nested-2 .bottom{
	background-position: 2px -14px;
	width: 940px;
}
.nested-3 .bottom{
	background-position: 2px -28px;
	width: 930px;
}
.nested-4 .bottom{
	background-position: 0px -42px;
	width: 920px;
}
.nested-box h2{
	padding-left: 20px;
}
.nested-box p{
	padding: 0 10px;
}
.nested-box a.show-all, .nested-box a.show-all:hover{
	position: relative;
	color: #faf9f2 !important;
	font-size: 12px;
	font-family: "LobsterRegular";
	display: block;
	height: 31px;
	padding: 3px 18px 0 0;
	position: absolute;
	top: 30px;
	right: -9px;
	background: transparent url(../img/sprite.png) 100% -81px no-repeat scroll;
	text-decoration: none;
}
.nested-box a.show-all:hover{
	background: transparent url(../img/sprite.png) 100% -115px no-repeat scroll;
}
.nested-box a.show-all span{
	position: absolute;
	display: block;
	width: 18px;
	height: 34px;
	top: 0;
	left: -18px;
	background: transparent url(../img/sprite.png) -544px -81px no-repeat scroll;
}
.nested-box a.show-all:hover span{
	background-position: -544px -115px;
}
.thumbs{
	width: 831px;
	margin: 0 auto;
	height: 130px;
	overflow: hidden;
}
.thumb{
	height: 130px;
	width: 130px;
	margin-left: 43px;
	position: relative;
	overflow: hidden;
	float: left;
}
.thumbs .thumb:first-child{
	margin: 0;
}
.thumb .th-wrap{
	bottom: 0;
	height: 30px;
	float: left;
    left: 50%;
    margin-left: 4px;
    position: absolute;
	z-index: 110;
}
.thumb a.th-label{
	position: relative;
    right: 50%;
	display: block;
	top: 0;
	height: 25px;
	padding: 5px 8px 0 0;
	color: #7f7d71 !important;
	text-decoration: none !important;
	z-index: 110;
	white-space: nowrap;
}
.thumb a.th-label span{
	width: 8px;
	height: 30px;
	position: absolute;
	display: block;
	left: -8px;
	top: 0;
	z-index: 110;
}
.thumb:hover a.th-label{
	background: transparent url(../img/sprite.png) 100% -149px no-repeat scroll;
	font-weight: bold;
	color: #fcfbf4 !important;
	text-shadow: 0px -1px 0px #4d4341; 
}
.thumb:hover a.th-label span{
	background: transparent url(../img/sprite.png) -683px -149px no-repeat scroll;
}
.thumb .img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120;
	width: 108px;
	height: 88px;
	overflow: hidden;
	padding: 8px 11px 12px;
	text-align: center;
	background: transparent url(../img/sprite.png) 0px -81px no-repeat scroll;
}
.thumb .img img{
	max-width: 108px;
}
/*ASIDE*/
aside{
	width: 227px;
	min-height: 250px;
	float: left;
	padding: 30px 0 0 15px;
}
.aside-wrapper{
	background: transparent url(../img/bg_aside.png) 0 0 repeat-y scroll;
	margin-left: -1px;
}
aside .search .sr-text{
	width: 165px;
}
.wiki-search{
	position: static;
	margin-bottom: 15px;
	height: 30px;
}
aside nav{
	margin-bottom: 20px;
}
aside nav h3{
	padding-left: 10px;
	margin-bottom: 10px;
	color: #878369;
}
aside nav.active h3{
	color: #955482;
}
aside nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
aside nav li{
	background: transparent url(../img/sprite.png) -130px -107px no-repeat scroll;
	padding: 0 20px 4px 15px;
	line-height: 19px;
}
aside nav li:hover, aside nav li.acrive{
	background: transparent url(../img/sprite.png) -130px -31px no-repeat scroll;
}
aside nav a, aside nav a:visited{
	color: #76735d;
	font-size: 12px;
}
aside nav li.active a, aside nav li:hover a{
	color: #955482;
}
aside nav li.active a{
	font-weight: bold;
}
/*BREADCRUMBS*/
.breadcrumbs{
	line-height: 12px;
	margin-bottom: 20px;
}
.breadcrumbs a, .breadcrumbs span{
	font-size: 12px;
	color: #878369;
}
.article{
	margin-bottom: 38px;
	position: relative;
	overflow: hidden;
}
.article h2.head{
	margin: 0;
	overflow: hidden;
	height: 45px;
}
.article .head a{
	background-color: #FFFFFF;
	text-decoration: none !important;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	font-family: "LobsterRegular";
	padding: 5px 15px 4px 5px;
	display: block;
	float: left;
}
.article .img{
	width: 667px;
	height: 226px;
	position: absolute;
	top: 44px;
	background: transparent url(../img/sprite_shadows.png) -5px -230px no-repeat scroll;
	margin: -1px 0 0 0;
	z-index: 200;
	padding: 8px 0 0 11px;
	left: -6px;
}
.article .img .closure{
	height: 236px;
	width: 11px;
	position: absolute;
	top: 0;
	right: -11px;
	background: transparent url(../img/sprite_shadows.png) 100% -230px no-repeat scroll;
}
.article .descr{
	position: relative;
	margin: 222px 0 0 6px;
	background-color: #FFFFFF;
	width: 620px;
	padding: 20px 20px 10px 25px;
}
.article .descr a.detailed{
	background: transparent url(../img/sprite.png) 100% -189px no-repeat scroll;
	padding-right: 10px;
	font-weight: bold;
	color: #FFFFFF !important;
	text-decoration: none;
	height: 29px;
	display: block;
	right: 10px;
	bottom: 8px;
	position: absolute;
	line-height: 27px;
}
.article .descr a.detailed span {
	background: transparent url(../img/sprite.png) -544px -189px no-repeat scroll;
	position: absolute;
	height: 29px;
	top: 0;
	left: -10px;
	width: 10px;
}
/*PAGINATION*/
.pagination-wrap{
	margin-bottom: 25px;
	height: 32px;
	position: relative;
	overflow: hidden;
}
.pagination{
	position: absolute;
	left: 50%;
}
.pagination .nums{
	overflow: hidden;
	position: relative;
	right: 50%;
}
.pagination span, .pagination a{
	width: 32px;
	height: 32px;
	margin-left: 2px;
	display: block;
	float: left;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #3e3c2f;
	text-decoration: none;
}
.pagination span, .pagination a:hover{
	background: transparent url(../img/sprite.png) -397px -189px no-repeat scroll;
}
.pagination span:first-child, .pagination a:first-child{
	margin: 0
}
.article-bottom-hr{
	height: 4px;
	background: transparent url(../img/sprite_nested_samples.png) 0px -56px repeat-x scroll;
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
}
.article-wrapper>.article-bottom-hr{
    width: 710px;
    right: 0;
    left: auto;
    bottom: 2px;
}
.article-shadow{
	height: 2px;
	background: transparent url(../img/sprite_shadows.png) 0px -475px no-repeat scroll;
	margin-left: -2px;
	width: 954px;
}
.filters{
	padding:30px 17px 55px 16px;
}
.filters ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.filters li{
	float: left;
}
.flt-tabs{
	position: absolute;
	top: 30px;
	left: 16px;
	overflow: hidden;
	z-index: 201;
}
.flt-tabs li{
	padding: 0;
	height: 58px;
	cursor: pointer;
	margin-left: 20px;
	position: relative;
}
.flt-tabs li:first-child{
	margin-left: 0;
}
.flt-tabs li.active{
	background: transparent url(../img/bg_filter.png) 0 0 repeat scroll;
	height: 62px;
}
.flt-tabs li a{
	display: block;
	padding: 16px 0px 26px 18px;
	height: 19px;
	font-family: "LobsterRegular";
	font-size: 16px;
	text-decoration: none;
	color: #666666;
	margin-right: 30px;
}
.flt-tabs li.active a{
	background: transparent url(../img/sprite.png) 0px -221px no-repeat scroll;
	color: #955482;
	z-index: 202;
}
.flt-tabs li span.closure{
	position: absolute;
	height: 19px;
	padding: 18px 0 24px 0;
	top: 0;
	right: 0;
	width: 30px;
	background: transparent none;
}
.flt-tabs li.active span.closure{
	background: transparent url(../img/sprite.png) -367px -221px no-repeat scroll;
}
.flt-tabs li .closure span{
	padding-right: 15px;
	background: transparent url(../img/sprite.png) -787px -320px no-repeat scroll;
}
.flt-tabs li.active .closure span{
	background: transparent url(../img/sprite.png) -787px -258px no-repeat scroll;
}
.flt-variants{
	background: transparent url(../img/bg_filter.png) 0 0 repeat scroll;
	position: relative;
	margin-top: 57px;
	z-index: 200;
}
.flt-variants-top{
	height: 5px;
	background: transparent url(../img/sprite_shadows.png) 0px -482px repeat scroll;
}
.flt-variants-left, .flt-variants-right{
	width: 3px;
	position: absolute;
	height: 100%;
	top: 0;
}
.flt-variants-left{
	left: 0;
	background: transparent url(../img/dashed_sides.png) 0px -5px repeat-y scroll;
}
.flt-variants-right{
	right: 0;
	background: transparent url(../img/dashed_sides.png) -3px 5px repeat-y scroll;
}
.flt-variants-middle{
	overflow: hidden;
    padding: 0px 18px;
    position: relative;
}
.filters ul.flt-choices{
	
}
.flt-choices li{
	width: 94px;
	height: 90px;
	margin:5px 36px 31px 0;
	float: left;
	background: transparent url(../img/sprite.png) 0px -282px no-repeat scroll;
	position: relative;
}
.flt-choices li:last-child, .flt-choices li:nth-child(7n){
	margin-right: 0;
}
.flt-choices li label{
	width: 94px;
	height: 90px;
	position: absolute;
	cursor: pointer;
}
.flt-choices .check{
	position: absolute;
	bottom: 23px;
	right: 9px;
	margin: 0;
	padding: 0;
}
.flt-choices li img{
	position: absolute;
	top: 5px;
	left: 8px;
	max-width: 79px;
	max-height: 64px;
}
.flt-choices h4{
	color: #6e6261;
	font-family: Calibri, Arial;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	margin: 76px 0 0;
	font-style: normal;
}
.flt-variants-middle a.toggle{
	position: absolute;
	right: 20px;
	bottom: 15px;
	color: #565656;
	font-size: 12px;
	font-weight: bold;
	padding-right: 14px;
	background: transparent url(../img/sprite.png) 100% -362px no-repeat scroll;
}
.flt-variants-bottom{
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 3px;
	width: 911px;
	background: transparent url(../img/sprite_nested_samples.png) 0 -60px repeat-x scroll;
}
.flt-checked{
	background: transparent url(../img/bg_filter_checked.png) 0 0 repeat scroll;
	position: relative;
	overflow: hidden;
}
.flt-checked-box{
	float: left;
	min-height: 79px;
	position: relative;
	padding: 0 0 10px;
}
.flt-checked-box.box2{
	width: 50%;
}
.flt-checked-box.box3{
	width: 33%;
}
.flt-checked-box.box4{
	width: 25%;
}
.flt-checked-box.box5{
	width: 20%;
}
.flt-checked-box .right-line{
	position: absolute;
	right: 0;
	top: 0;
	height: 89px;
	width: 1px;
	background: transparent url(../img/sprite.png) 0px -364px no-repeat scroll;
}
.flt-checked-box:last-child .right-line{
	background: transparent none;
}
.flt-checked-box .head{
	margin: 10px 0 0 10px;
	color: #656565;
}
.flt-checked-box ul{
	margin: 10px 0 0 17px;
}
.flt-checked-box li a{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: transparent url(../img/sprite.png) 1px -74px no-repeat scroll;
	margin:0 15px 0 2px;
}
.flt-checked .thin{
	width: 1px;
}
.flt-variants-right.thin{
	background-position: -5px 5px;
}
.flt-cont .article-shadow{
	width: 919px;
	margin-left: -2px;
	height: 3px;
	background: transparent url(../img/sprite_shadows.png) -17px -494px no-repeat scroll;
}
.flt-table{
	margin-top: 20px;
}
.flt-table table{
	width: 100%;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}
.flt-table thead{
	font-weight: bold;
	font-style: italic;
}
.flt-table tr{
	height: 35px;
}
.flt-table th, .flt-table td{
	text-align: left;
	padding-left: 20px;
	background-color: transparent;
	margin: 0;
}
.flt-table th{
	border-bottom: 1px dotted #bdbcb7;
	cursor: pointer;
}
.flt-table tbody{
	
}
.flt-table td{
	border-right: 1px dotted #c8c6b1;
	vertical-align: middle;
}
.flt-table td:last-child{
	border-right: 0 none;
}
.flt-table tr td:nth-child(n){
	background-color: transparent;
}
.flt-table tr:nth-child(4n-2) td{
	background: transparent url(../img/bg_gray.png) 0 0 repeat scroll;
}
.flt-table tr:nth-child(4n) td{
	background-color: #ffffff;
}
.flt-table .dn, .flt-table .up{
	padding-right: 10px;
	cursor: pointer;
}
.flt-table .dn{
	background: transparent url(../img/sprite.png) -790px -320px no-repeat scroll;
}
.flt-table .up{
	background: transparent url(../img/sprite.png) -790px -398px no-repeat scroll;
}
/*OVERLAY*/
.overlay-layout{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .4;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	top: 0;
	left: 0;
	z-index: 10000;
	overflow: hidden;
}
.ovr-cont{
	width: 372px;
	height: 300px;
	left: 50%;
	top: 50%;
	position: fixed;
	margin: -150px 0 0 -186px;
	background: transparent url(../img/sprite_shadows.png) -17px -499px no-repeat scroll;
	z-index: 10001;
}
.ovr-cont-inner{
	width: 311px;
	height: 259px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 2px;
	background: transparent url(../img/bg_filter_checked.png) 0px 0px repeat scroll;
	padding: 19px 28px 17px 29px;
}
.ovr-cont-top, .ovr-cont-bottom{
	background: url("../img/sprite_nested_samples.png") repeat-x scroll 0 -60px transparent;
    height: 2px;
    left: 2px;
    position: absolute;
    width: 364px;
}
.ovr-cont-top{
	top: 2px;
}
.ovr-cont-bottom{
	bottom: 1px;
}
.ovr-cont-left, .ovr-cont-right{
    height: 290px;
    position: absolute;
    top: 2px;
    width: 1px;
    background: url("../img/dashed_sides.png") repeat-y scroll -3px 5px transparent;
}
.ovr-cont-left{
	left: 2px;
}
.ovr-cont-right{
	right: 2px;
}
a.ovr-close{
	background: url("../img/sprite.png") repeat-y scroll -1px -381px transparent;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 24px;
	right: 28px;
	z-index: 10003;
	display: block;
}
.ovr-cont-inner h3{
	font-size: 18px;
	font-family: "LobsterRegular";
	color: #828176;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 18px;
}
.ovr-cont-inner .submit{
	background: url("../img/sprite.png") no-repeat scroll 100% -189px transparent;
    bottom: 17px;
    color: #FFFFFF !important;
    display: block;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    padding-right: 16px;
    position: absolute;
    right: 27px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #333333;
}
.ovr-cont-inner .submit span{
	background: url("../img/sprite.png") no-repeat scroll -544px -189px transparent;
    height: 29px;
    left: -16px;
    position: absolute;
    top: 0;
    width: 16px;
}
.ovr-cont-inner input{
	background: url("../img/sprite_nested_samples.png") repeat-x scroll 0px -62px transparent;
	height: 28px;
	width: 295px;
	padding: 0px 6px 0px 9px;
	border: 1px solid #dad6be;
	margin: 0;
}
.ovr-cont-inner input:focus{
	border-color: #c9c5ac;
}
.ovr-cont-inner p, .ovr-cont-inner label{
	color: #9b9a8f;
}
.ovr-cont-inner p{
	padding-left: 10px;
	text-shadow: 0px 1px 0px #FFFFFF;
	margin: 0 0 5px;
}
.ovr-cont-inner .line{
	overflow: hidden;
}
.ovr-cont-inner .line label, .ovr-cont-inner .line input{
	float: left;
}
.ovr-cont-inner .line label{
	font-weight: normal;
	line-height: 30px;
}
#id__ovr_time_from, #id_ovr_time_till{
	width: 37px;
	padding: 0px 9px;
}
#id_ovr_date{
	width: 95px;
	padding: 0px 25px 0px 9px;
	float: right;
}
.ovr-cont-inner img.calendar{
	right: 36px;
	bottom: 71px;
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
}

/*COMMON ARTICLE*/
article.common{
	padding: 15px 26px 45px;
	min-height: 400px;
}
.common h2{
	color: #4d4c48;
	margin: 35px 0 16px;
	font-size: 24px;
}
.common p, .full-descr p{
	margin-bottom: 23px;
}
.full-descr{
	margin-top: 242px;
	padding: 0 35px 0 12px;
}
.full-descr h2{
	color: #666666;
	margin: 30px 0 8px;
	font-family: "LobsterRegular";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
}
/*LOCATIONS*/
.locations{
	padding: 70px 23px 70px 23px;
}
.loc-select{
	position: absolute;
	top: 35px;
	right: 24px;
	width: 226px;
	z-index: 2000;
	color: #6e6c5d;
}
.loc-select-box{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2020;
	height: 37px;
	width: 187px;
	background: url("../img/sprite.png") no-repeat scroll -130px -282px transparent;
	cursor: pointer;
	padding: 0 26px 0 13px;
	line-height: 35px;
	overflow: hidden;
}
.loc-select-box span{
	text-shadow: 0px 1px 0px #f8f8f4;
}
.loc-list{
	z-index: 2010;
	position: absolute;
	top: 35px;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	background-color: #ffffff;
	
}
.loc-list li{
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #e2e0d1;
	height: 34px;
	width: 185px;
	padding: 0 26px 0 13px;
	line-height: 35px;
}
.loc-list label{
	font-weight: normal;
}
.locations h1{
	height: 40px;
	margin: 0;
	background-color: #ffffff;
	font-family: Arial, Calibri, Hevletica, Verdana;
	color: #6c6b67;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	padding: 0 23px 0 10px;
	line-height: 41px;
	float: left;
}
.locations .hr{
	height: 1px;
	opacity: .1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
	background-color: #000000;
	clear: both;
}
.loc-result-list{
	list-style: none;
	margin: 0;
	padding: 25px 0 0;
}
.loc-result-list li{
	height: 145px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 15px;
	position: relative;
	margin: 0 0 30px;
}
.loc-result-list .hr{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	background: url("../img/sprite_h_patterns.png") repeat-x scroll 0 0 transparent;
}
.loc-map{
	width: 125px;
	height: 125px;
	padding: 6px 8px 10px 8px;
	float: left;
	background: url("../img/sprite.png") no-repeat scroll -13px -380px transparent;
}
.loc-map .map{
	width: 125px;
	height: 125px;
}
.loc-right-descr{
	margin-left: 152px;
	height: 135px;
	overflow: hidden;
}
.loc-right-descr .address span, .loc-right-descr .phone span{
	color: #9b9b9b;
}
.loc-right-descr .address, .loc-right-descr .phone, .loc-right-descr .descr{
	padding-top: 3px;
}
/*FEEDBACK*/
.aside-wide aside{
	width: 277px;
}
.aside-wide article{
	width: 644px;
}
.aside-wide .aside-wrapper{
	background: transparent url(../img/bg_aside_wide.png) 0 0 repeat-y scroll;
}
.feedback{
	
}
.feedback h3{
	color: #717068;
	text-shadow: 0px 1px 0px #FFFFFF;
}
.feedback .form{
	
}
.feedback input[type="text"], .feedback textarea{
	width: 239px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: transparent;
	padding: 9px;
	border: 0 none;
	font-size: 14px;
	color: #9b9a8f;
	margin: 4px 0;
}
.feedback input[type="text"]{
	height: 14px;
	background-position: -130px -322px;
}
.feedback textarea{
	resize: none;
	height: 148px;
	overflow: auto;
	background-position: -154px -354px;
}
.feedback .bind-submit{
	position: relative;
	height: 176px;
}
.feedback .submit{
	width: 138px;
	height: 31px;
	text-align: center;
	color: #fcfbf4;
	position: absolute;
	display: block;
	bottom: -18px;
	left: 60px;
	line-height: 32px;
	background: transparent url(../img/sprite.png) 0px -521px no-repeat scroll;
	text-decoration: none;
	text-shadow: 0px -1px 0px #6b3d5e;
	font-weight: bold;
}
/*FEEDBACKS*/
article.feedbacks{
	padding: 32px 22px 0 21px;
	width: 616px;
}
.feedbacks ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.feedbacks li{
	position: relative;
	border: 1px solid #c4c3b5;
	background-color: #edece1;
	margin: 0 0 50px;
	padding: 8px 18px 13px 10px;
	width: 586px;
}
.feedbacks .pin{
	position: absolute;
	height: 35px;
	width: 16px;
	background: transparent url(../img/sprite.png) -154px -521px no-repeat scroll;
	right: -8px;
	top: -12px;
}
.feedbacks .edge{
	position: absolute;
	width: 21px;
	height: 23px;
	bottom: -21px;
	right: 33px;
	background: transparent url(../img/sprite.png) -170px -521px no-repeat scroll;
}
.feedbacks .fdb{
	color: #6b6a65;
}
.feedbacks .fdb p{
	margin: 0;
}
.feedbacks .who{
	position: absolute;
	bottom: -40px;
	right: 14px;
	color: #b5b5b3;
	font-size: 12px;
}
.feedbacks .who span{
	color: #8d8b7a;
}
.feedback.request h3{
	margin-top: 10px;
}
/*FEEDBACK & FAQ BORDERS*/
.feedbacks .top, .feedbacks .bottom, .faq .top, .faq .bottom{
	position: absolute;
	background: transparent url(../img/sprite_h_patterns.png) 0px -2px repeat-x scroll;
	height: 2px;
	width: 609px;
	left: 3px;
}
.feedbacks .top, .faq .top{
	top: 1px;
}
.feedbacks .bottom, .faq .bottom{
	bottom: 0;
}
.feedbacks .left, .feedbacks .right, .faq .left, .faq .right{
	position: absolute;
	background: transparent url(../img/sprite_v_patterns.png) -11px 0px repeat-y scroll;
	height: 99%;
	width: 1px;
	top: 1px;
}
.feedbacks .left, .faq .left{
	left: 1px;
}
.feedbacks .right, .faq .right{
	right: 1px
}
/*FAQ*/
article.faq{
	padding: 23px 0 50px;
	width: 660px;
}
.faq ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.faq li{
	margin-bottom: 5px;
}
.faq-question-wrap{
	background: #e7e5d7 url(../img/bg_faq.png) 0% 100% repeat-x scroll;
}
.faq .question{
	border: 1px solid #cbcbcb;
	padding: 10px 15px 10px 40px;
	margin-left: -1px;
	overflow: hidden;
	position: relative;
	color: #636256;
	text-shadow: 0px 1px 0px #FFFFFF;
	background: transparent url(../img/bg_faq_bound.png) 0 0 repeat scroll;
}
.faq li.active .faq-question-wrap{
	background: #f6f5f0 url(../img/bg_faq_active.png) 0% 100% repeat-x scroll;
}
.faq .question .who{
	float: right;
	color: #7c7b74;
}
.faq .top, .faq .bottom{
	width: 656px;
}
.faq .bottom{
	 bottom: 1px;
}
.faq .left, .faq .right{
	top: 0;
	background-position: -11px 3px;
}
.faq li .toggle{
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 12px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background: transparent url(../img/sprite.png) -205px -521px no-repeat scroll;
}
.faq li.active .toggle{
	background: transparent url(../img/sprite.png) -191px -521px no-repeat scroll;
}
.faq .answer{
	color: #717068;
	padding: 13px;
	display: none;
}
.faq li.active .answer{
	display: block;
}
.faq .answer .who{
	color: #9d9b89;
}
/* SPECIALISTS AND CUSTOMERS? */
.specialist{
	padding: 50px 25px 50px;
}
.specialist dl{
	margin: 0;
}
.specialist dt{
	width: 576px;
	height: 45px;
	background: transparent url(../img/sprite.png) -1px -556px no-repeat scroll;
	margin-left: 275px;
	font-weight: normal;
	padding: 0 25px;
	line-height: 43px;
	color: #595845;
	overflow: hidden;
	text-shadow: 0px 1px 0px #fffefa;
	font-family: Arial, Verdana, Tahoma;
}
.specialist .customer{
	color: #7d7c6c;
	font-size: 12px;
}
.specialist dd{
	margin: 0 0 43px;
	position: relative;
	padding-bottom: 20px;
}
.specialist .img{
	height: 232px;
	width: 260px;
	padding: 8px 10px;
	overflow: hidden;
	position: absolute;
	background: transparent url(../img/sprite.png) 1px -601px no-repeat scroll;
	top: -52px;
	left: 0;
}
.specialist .price{
	text-align: center;
	position: absolute;
	bottom: 16px;
	color: #7d7c6c;
	font-family: Georgia;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	width: 260px;
	overflow: hidden;
}
.specialist .img img{
	max-width: 260px;
	max-height: 188px;
}
.specialist .replies{
	margin-bottom: 8px;
	overflow: hidden;
	padding-bottom: 2px;
}
.specialist .reply{
	float: right;
	width: 581px;
	margin-top: 12px;
	background-color: #ffffff;
	position: relative;
	padding: 11px 10px 15px;
}
.specialist .edge{
	background: transparent url(../img/sprite.png) -219px -521px no-repeat scroll;
	width: 15px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: -14px;
}
.specialist .top, .specialist .bottom{
	position: absolute;
	left: 0;
	width: 601px;
	height: 2px;
	background: transparent url(../img/sprite_h_patterns.png) 0px -2px repeat-x scroll;
}
.specialist .bottom{
	bottom: -2px;
}
.specialist .top{
	top: -1px;
}
.specialist .left, .specialist .right{
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background: transparent url(../img/sprite_v_patterns.png) -11px 1px repeat-y scroll;
}
.specialist .left{
	left: 0;
}
.specialist .right{
	right: 0;
}
.specialist .who, .specialist .detailed{
	position: absolute;
	font-size: 12px;
	bottom: 7px;
}
.specialist .who{
	left: 10px;
	color: #b2b0a0;
}
.specialist .detailed{
	right: 13px;
	line-height: 12px;
	padding-bottom: 2px;
	background: transparent url(../img/sprite_shadows.png) left bottom no-repeat scroll;
}
.specialist .detailed a{
	text-decoration: none;
	color: #99988b;
}
.specialist .body{
	overflow: hidden;
	color: #3b3b3b;
}
.specialist .hr{
	height: 2px;
	width: 100%;
	background: transparent url(../img/sprite_h_patterns.png) 1px -4px repeat-x scroll;
	position: absolute;
	bottom: 0;
	left: 13px;
	width: 871px;
}
.items{
	padding: 53px 25px 0;
}
.items ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.items li{
	height: 210px;
	width: 160px;
	margin: 0 0 40px 86px;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 0;
}
.items li:nth-child(4n+1){
	margin: 0;
}
.items .it-wrap{
	top: 136px;
	height: 33px;
	float: left;
    right: 50%;
    margin-right: 9px;
    position: absolute;
	z-index: 110;
}
.items a.it-label{
	position: relative;
    left: 50%;
	display: block;
	top: 0;
	height: 25px;
	padding: 8px 0 0 16px;
	color: #7d7c6c !important;
	text-decoration: none !important;
	z-index: 110;
	white-space: nowrap;
	text-shadow: 0px 1px 0px #FFFFFF;
	background: transparent url(../img/sprite.png) -632px -556px no-repeat scroll;
}
.items a.it-label em{
	width: 16px;
	height: 33px;
	position: absolute;
	display: block;
	right: -16px;
	top: 0;
	z-index: 111;
	background: transparent url(../img/sprite.png) 100% -556px no-repeat scroll;
}
.items a.it-label span{
    display: block;
    max-width: 120px;
    overflow: hidden;
}
.items li .img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120;
	width: 138px;
	height: 131px;
	overflow: hidden;
	padding: 8px 10px 6px;
	text-align: center;
	background: transparent url(../img/sprite.png) -278px -601px no-repeat scroll;
}
.items li .img img{
	max-width: 138px;
	max-height: 102px;
}
.items .price-wrap{
	position: absolute;
    left: 50%;
	bottom: 10px;
	display: block;
	height: 22px;
	color: #7d7c6c;
	text-decoration: none;
	z-index: 110;
	font-weight: bold;
	font-style: italic;
	margin-left: -4px;
	font-family: Georgia, arial, verdana;
}
.items li .price{
	position: relative;
	right: 50%;
	height: 22px;
	white-space: nowrap;
	padding-left: 8px;
	background: transparent url(../img/sprite.png) -642px -521px no-repeat scroll;
	line-height: 16px;
}
.items li .price em{
	width: 8px;
	height: 22px;
	position: absolute;
	display: block;
	right: -8px;
	top: 0;
	z-index: 111;
	background: transparent url(../img/sprite.png) 100% -521px no-repeat scroll;
}
.items li .prod, .items li .prod-time{
	position: absolute;
	bottom: 0;
	left: 4px;
	font-style: italic;
	text-shadow: 0px 1px 0px #FFFFFF;
	left: 8px;
}
.items li .prod{
	bottom: 20px;
	color: #717067;
}
.items li .prod-time{
	bottom: 0;
	color: #49483d;
}
.items-avail{
	padding: 53px 0 50px 25px;
}
.items-avail ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.items-avail li{
	height: 122px;
	width: 440px;
	margin: 0 20px 49px 0;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 0;
}
.items-avail a.label{
	position: absolute;
	left: 151px;
	top: 1px;
	display: block;
	height: 33px;
	line-height: 33px;
	background: transparent url(../img/sprite.png) 100% -746px no-repeat scroll;
	padding: 0 16px 0 10px;
	text-decoration: none;
	color: #7d7c6c;
	text-shadow: 0px 1px 0px #FFFFFF;
	white-space: nowrap;
	max-width: 263px;
	overflow: hidden;
}
.items-avail .img{
	position: absolute;
	width: 138px;
	height: 102px;
	padding: 8px 10px 12px;
	overflow: hidden;
	background: transparent url(../img/sprite.png) -436px -601px no-repeat scroll;
	top: 0;
	left: 0;
}
.items-avail .img img{
	max-width: 138px;
	max-height: 102px;
}
.items-avail .descr{
	left: 160px;
    position: absolute;
    top: 38px;
    color: #717067;
}
.items-avail .na{
	color: #b41a1a;
}
.items-avail .av{
	color: #508c1f;
}
.items-avail .avail{
	font-weight: bold;
}

/*FOOTER*/
footer{
	height: 78px;
	padding: 16px 16px 22px;
	color: #635d5c;
}
footer p{
	margin: 0;
}
.ft-phones{
	font-family: Georgia, "Calibri", Arial, Hevletica;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	color: #807876;
}
.ft-address p{
	line-height: 40px;
}
/* HAVE A GOOD DAY! */