<% content_for :javascript_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :after_javascript_libraries, javascript_include_tag('underscore.js') %>
<% content_for :after_javascript_libraries, javascript_include_tag('jquery.json-2.3.min.js') %>
<% content_for :after_javascript_libraries, stylesheet_link_tag("jquery-ui") %>

<% content_for :after_javascript_libraries, javascript_include_tag('catalog.index.js') %>
<% content_for :after_javascript_libraries, stylesheet_link_tag("blueprint/screen.css") %>
<% content_for :after_javascript_libraries, stylesheet_link_tag("blueprint/print.css") %>
<% content_for :after_javascript_libraries, javascript_include_tag('html5.js') %>
<% content_for :after_javascript_libraries, javascript_include_tag('engine.js') %>


  <div id="wrapper0">
			<div class="container">
				<div class="article-wrapper">
					<article class="filters">
						<div class="flt-cont">
							<div class="flt-variants">
								<div class="flt-variants-top"></div>
								<div class="flt-variants-middle">

									<ul class="flt-choices">
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_0"></label>
											<input type="checkbox" class="check" checked="checked" id="id_check_0" />
											<h4>Хлопок</h4>
										</li>
										<li>

											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_1"></label>
											<input type="checkbox" class="check" checked="checked" id="id_check_1" />
											<h4>Хлопок</h4>
										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_2"></label>

											<input type="checkbox" class="check" id="id_check_2" />
											<h4>Хлопок</h4>
										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_3"></label>
											<input type="checkbox" class="check" checked="checked" id="id_check_3" />
											<h4>Хлопок</h4>

										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_4"></label>
											<input type="checkbox" class="check" id="id_check_4" />
											<h4>Хлопок</h4>
										</li>
										<li>

											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_5"></label>
											<input type="checkbox" class="check" id="id_check_5" />
											<h4>Хлопок</h4>
										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_6"></label>

											<input type="checkbox" class="check" id="id_check_6" />
											<h4>Хлопок</h4>
										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_7"></label>
											<input type="checkbox" class="check" id="id_check_7" />
											<h4>Хлопок</h4>

										</li>
										<li>
											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_8"></label>
											<input type="checkbox" class="check" id="id_check_8" />
											<h4>Хлопок</h4>
										</li>
										<li>

											<img src="/img/stub/cotton_filter.jpg" alt="" />
											<label for="id_check_9"></label>
											<input type="checkbox" class="check" id="id_check_9" />
											<h4>Хлопок</h4>
										</li>
									</ul>
									<a class="toggle" href="javascript:;">Свернуть</a>
									<div class="flt-variants-bottom"></div>

								</div>
								<div class="flt-variants-left"></div>
								<div class="flt-variants-right"></div>
							</div>
							<ul class="flt-tabs">
								<li class="active"><a href="javascript:;">Состав</a><span class="closure"><span></span></span></li>
								<li><a href="javascript:;">Цвет</a><span class="closure"><span></span></span></li>
								<li><a href="javascript:;">Производитель</a><span class="closure"><span></span></span></li>

							</ul>
							<div class="flt-checked">
								<div class="flt-checked-cont">
									<div class="flt-checked-box box3">
										<div class="head">Состав:</div>
										<ul>
											<li>Хлопок<a href="javascript:;"></a></li>
											<li>Лен<a href="javascript:;"></a></li>

											<li>Кашемир<a href="javascript:;"></a></li>

										</ul>
										<div class="right-line"></div>
									</div>
									<div class="flt-checked-box box3">
										<div class="head">Цвет:</div>
										<ul>
										</ul>

										<div class="right-line"></div>
									</div>
									<div class="flt-checked-box box3">
										<div class="head">Производитель:</div>
										<ul>
										</ul>
										<div class="right-line"></div>
									</div>

								</div>
								<div class="flt-variants-left thin"></div>
								<div class="flt-variants-right thin"></div>
							</div>
							<div class="article-shadow"></div>
						</div>
						<div class="flt-table">
							<table>
								<thead>

									<tr>
										<th style="width:120px;">Артикул<span class="dn"></span></th>
										<th style="width:230px;">Наименование</th>
										<th style="width:140px;">Состав</th>
										<th style="width:90px;">Цвет</th>
										<th>Производитель</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Артикул</td>
										<td>Наименование</td>
										<td>Состав</td>

										<td>Цвет</td>
										<td>Производитель</td>
									</tr>
									<tr>
										<td>Артикул</td>
										<td>Наименование</td>
										<td>Состав</td>

										<td>Цвет</td>
										<td>Производитель</td>
									</tr>
									<tr>
										<td>Артикул</td>
										<td>Наименование</td>
										<td>Состав</td>

										<td>Цвет</td>
										<td>Производитель</td>
									</tr>
									<tr>
										<td>Артикул</td>
										<td>Наименование</td>
										<td>Состав</td>

										<td>Цвет</td>
										<td>Производитель</td>
									</tr>
									<tr>
										<td>Артикул</td>
										<td>Наименование</td>
										<td>Состав</td>

										<td>Цвет</td>
										<td>Производитель</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="article-bottom-hr"></div>
						<div class="left-shadow"></div><div class="right-shadow"></div>

					</article>
				</div>
				<div class="article-shadow"></div>
			<div class="hd-bottom"></div>

		</div>
<% end -%>
