<% content_for :javascript_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :after_javascript_libraries, javascript_include_tag('underscore.js') %>
<% content_for :after_javascript_libraries, javascript_include_tag('jquery.json-2.3.min.js') %>
<% content_for :after_javascript_libraries, javascript_include_tag('catalog.index.js') %>
<% content_for :after_javascript_libraries, stylesheet_link_tag("jquery-ui") %>


<% content_for :body_content_title do -%>
  Каталог Тканей
<% end -%>

<% content_for :body_content_left do -%>
  <div>
    <div id="filter-tabs">
	<ul>
		<li><a href="#tabs-composition">Состав</a></li>
		<li><a href="#tabs-color">Цвет</a></li>
		<li><a href="#tabs-manufacturer">Производитель</a></li>
	</ul>
	<div id="tabs-composition">
		
	</div>
	<div id="tabs-color">
	      
	</div>
	<div id="tabs-manufacturer">
	      
	</div>
    </div>
    <div id="filter-applied">
      
    </div>
    <ul id="filter-results">
      
    </ul>
  </div>
<% end -%>

<%= render :partial => '/shared/content_page' -%>

