<% content_for :javascript_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :after_javascript_libraries, javascript_include_tag('catalog.index.js') %>

<% content_for :body_content_title do -%>
  Catalogs
<% end -%>

<% content_for :body_content_left do -%>
  <!--<% @catalog_entries.each do | catalog | -%>
    <span>
      <%= link_to raw("#{image_fu catalog.title_image, '200x200' unless catalog.title_image.nil?} #{catalog.title}"),
                  catalog_path(catalog) %>
    </span>
  <% end -%> -->
  <div>
    <div id="filter-tabs">
	<ul>
		<li><a href="#tabs-composition">Состав</a></li>
		<li><a href="#tabs-color">Цвет</a></li>
		<li><a href="#tabs-manufacturer">Производитель</a></li>
	</ul>
	<div id="tabs-composition">
		
	</div>
	<div id="tabs-color">
	      
	</div>
	<div id="tabs-manufacturer">
	      
	</div>
    </div>
    <div id="filter-applied">
      
    </div>
    <div id="filter-results">
      
    </div>
  </div>
  
<% end -%>

<%= render :partial => '/shared/content_page' -%>

